h1{
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    font-family: Arial, sans-serif;
    font-weight: bold;
    position: center;
    color: darkslategray;
    margin-left: auto;
    margin-right: auto;
    }

.lasagna{
    background-color:darkseagreen;
}

.risotto{
    background-color: goldenrod;
}

.bread_pudding{
    background-color: red;
}

img[src*'risotto_photo']{
    height:100px;
    width:100px;
}