index.html {
    background-color: rgb(60, 233, 132);
}

h1{
    height: 100px;
    width: 100px;
    color:black;
    font-family: Arial, sans-serif;
    font-weight: bold;
    }

.lasagna{
    color:darkseagreen;
}

.risotto{
    color:darkseagreen;
}

.bread_pudding{
    color:darkseagreen;
}

img[src*'risotto_photo']{
    height:100px;
    width:100px;
}